<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Makes360YourITPartner"
        tools:targetApi="31">
        <activity
            android:name=".ui.trainee.TraineeSupport"
            android:exported="false" />
        <activity
            android:name=".ui.trainee.TraineeFeeInfo"
            android:exported="false" />
        <activity
            android:name=".ui.trainee.TraineeAdminDashboard"
            android:exported="false" />
        <activity
            android:name=".ui.trainee.TraineeAdminLogin"
            android:exported="false" />
        <activity
            android:name=".ui.trainee.TraineeLeaderboard"
            android:exported="false" />
        <activity
            android:name=".ui.trainee.TraineeProfile"
            android:exported="false" />
        <activity
            android:name=".ui.trainee.TraineeDashboard"
            android:exported="false" />
        <activity
            android:name=".ui.trainee.TraineeLogin"
            android:exported="false" />
        <activity
            android:name=".ui.client.ClientContactLog"
            android:exported="false" />
        <activity
            android:name=".ui.client.ClientProjectAssets"
            android:exported="false" />
        <activity
            android:name=".ui.client.ClientProjectDetails"
            android:exported="false" />
        <activity
            android:name=".ui.client.ClientProfile"
            android:exported="false" />
        <activity
            android:name=".ui.client.ClientDashboard"
            android:exported="false" />
        <activity
            android:name=".ui.client.ClientLogin"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AnnouncementList"
            android:exported="false" />
        <activity
            android:name=".ui.intern.Stipend"
            android:exported="false" />
        <activity
            android:name=".ui.intern.MonthlyStipend"
            android:exported="false" />
        <activity
            android:name=".ui.intern.InternProfile"
            android:exported="false" />
        <activity
            android:name=".ui.intern.InternDashboard"
            android:exported="false" />
        <activity
            android:name=".ui.intern.InternLogin"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>